<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="jsonvi" />
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <script src="js/libs/modernizr-1.7.min.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header role="banner">
        <h1><a href="/" title="JSONVI - JavaScript Ninja"><img src="/images/jsonvi.png" alt="jsonvi" /></a></h1>
        <nav role="navigation">
            <ul>
                    <li class="current"><a href="/">Blog</a></li>
                    <li><a href="/about.html">About</a></li>
            </ul>
        </nav>
    </header>
        
    <section>
      {{ content }}
    </section>

    <footer role="contentinfo">
        <p>Copyright © 2011 <a href="http://jsonvi.com/" title="jsonvi">jsonvi</a>. All rights reserved. </p>
    </footer>

  </body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23297986-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>
