{% include head.html %}
  <body>
    <header id="banner" role="banner">
        <h1><a id="logo" href="/" title="JSONVI - JavaScript Ninja">JSONVI - JavaScript Ninja</a></h1>
        <nav role="navigation">
            <ul>
                    <li class="current"><a href="/">Blog</a></li>
                    <li><a href="/about.html">About</a></li>
            </ul>
        </nav>
    </header>
        
    {{ content }}

    <footer id="content-info" role="contentinfo">
        <p>Copyright © 2011 <a href="http://jsonvi.com/" title="jsonvi">jsonvi</a>. All rights reserved. </p>
    </footer>

  </body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23297986-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>
