---
layout: layout
---

<div role="main">
<article class="post single">
            <header>
            <time datetime="{{ page.date }}" pubdate="">{{ page.date | date: "%B %e, %Y" }}</time>
                <h1><a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a></h1>

            </header>
            {{ content }}
            <footer role="contentinfo">
                【 本文由 <a href="http://jsonvi.com/" title="jsonvi">jsonvi</a> 发表，未经许可请勿转载。商业或非商业使用请 <a target="_blank" href="mailto:jsonvi@gmail.com">联系作者</a> 】
            </footer>


    <!-- disqus start -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'jsonvi'; // required: replace example with your forum shortname

        // The following are highly recommended additional parameters. Remove the slashes in front to use.
        // var disqus_identifier = 'unique_dynamic_id_1234';
        // var disqus_url = 'http://example.com/permalink-to-page.html';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <!-- disqus end -->

</article>
</div>
